// Rename this file to secrets.h and add your secret details.
#pragma once

#include <vector>

struct wifi_config {
    const char* ssid;
    const char* password;
};

// Network setup
// Add your WiFi networks here, in order of preference
const std::vector<wifi_config> wifi_configs = {
    {"myssid", "supersecretpassword"},
    {"another_ssid", "another_password"}
};

#define HOSTNAME "splitflap" // e.g. splitflap.local

#define MQTT_SERVER "10.0.0.2"
#define MQTT_USER "mqttuser"
#define MQTT_PASSWORD "megasecretpassword"
#define MQTT_COMMAND_TOPIC "splitflap"
